* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensure padding and borders are included in width calculations */
  font-family: prompt;
}

html,
body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.nav {
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: center;
  color: white;
  text-decoration: none;
}
.nav-links {
  transition: color 0.3s ease-in-out;
  color: rgb(77, 0, 93);
}
.nav-links :hover {
  color: white;
}
.nav img {
  height: auto;
  border-radius: 30px;
}

.nav-links,
a {
  list-style-type: none;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(11, 6, 12);
  color: rgb(161, 161, 161);
}
.hero-btn {
  background-color: rgb(255, 255, 255);
}
.hero-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  font-weight: 400;
}

.hero-img {
  height: auto;
}

#hero-btn,
#sign-up {
  border: 0;
}

.gallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(13, 12, 19);
  color: rgb(100, 100, 100);
}
.testimonials {
  background-color: rgb(11, 8, 24);
  color: white;
}
.card {
  background-color: rgb(25, 10, 33);
  font-weight: 398;
}
.signup {
  background-color: rgb(11, 6, 12);
  color: white;
}
.signup h6 {
  color: rgb(145, 145, 145);
  font-weight: 400;
}
.footer {
  background-color: rgb(35, 35, 35);
  color: white;
}

@media screen and (max-width: 2800px) {
  .nav {
    padding: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .nav img {
    width: 100px;
    margin-right: auto;
  }
  .nav-links {
    font-size: 21px;
    gap: 13px;
  }
  .hero {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .hero-text h1 {
    font-size: 40px;
    margin: 25px;
  }
  .hero-text p {
    font-size: 23px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .hero-btn {
    font-size: 25px;
    margin: auto;
    padding: 3px 25px;
    border-radius: 20px;
  }
  .hero-img {
    max-width: 470px;
    margin-top: 30px;
    margin-bottom: 35px;
  }

  .gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
  }
  .cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 20px;
    text-align: center;
    padding: 13px;
    margin-bottom: 10px;
  }
  #img1 {
    margin-top: 40px;
  }
  #img2 {
    height: 323px;
    width: 490px;
  }
  .cards-img {
    max-width: 490px;
  }
  .cards p {
    margin-top: 7px;
  }
  .testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 10px;
  }
  .card {
    font-size: 25px;
    margin-bottom: 30px;
    padding: 50px;
  }
  .signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .inner-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .signup-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .signup-text h3 {
    font-size: 35px;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .signup-text h6 {
    font-size: 25px;
    text-align: center;
    font-weight: 400;
    padding-left: 30px;
    padding-right: 30px;
  }
  .signup-btn {
    font-size: 30px;
    padding: 3px 30px;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px;
    font-size: 17px;
  }
}

@media screen and (max-width: 1025px) {
  .nav {
    padding: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .nav img {
    width: 90px;
    margin-right: auto;
  }
  .nav-links {
    font-size: 20px;
    gap: 10px;
  }
  .hero {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .hero-text h1 {
    font-size: 35px;
    margin: 25px;
  }
  .hero-text p {
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .hero-btn {
    font-size: 23px;
    margin: auto;
    padding: 3px 25px;
    border-radius: 20px;
  }
  .hero-img {
    max-width: 420px;
    margin-top: 25px;
    margin-bottom: 30px;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
  }
  #img1 {
    margin-top: 20px;
  }
  .cards-img {
    max-width: 450px;
  }
  .cards p {
    margin-top: 7px;
  }
  .testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    font-size: 20px;
    margin-bottom: 12px;
    padding: 30px;
  }
  .signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .inner-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .signup-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .signup-text h3 {
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .signup-text h6 {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    padding-left: 30px;
    padding-right: 30px;
  }
  .signup-btn {
    font-size: 25px;
    padding: 3px 20px;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px;
    font-size: 17px;
  }
}

@media screen and (max-width: 650px) {
  .nav {
    padding: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .nav img {
    width: 70px;
    margin-right: auto;
  }
  .nav-links {
    font-size: 15px;
    gap: 8px;
  }
  .hero {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .hero-text h1 {
    font-size: 29px;
    margin: 20px;
  }
  .hero-text p {
    font-size: 17px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .hero-btn {
    font-size: 19px;
    margin: auto;
    padding: 3px 20px;
    border-radius: 20px;
  }
  .hero-img {
    max-width: 350px;
    margin-top: 25px;
    margin-bottom: 30px;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
  }
  #img1 {
    margin-top: 20px;
  }
  .cards-img {
    max-width: 400px;
  }
  .cards p {
    margin-top: 7px;
  }
  .testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    font-size: 17px;
    margin-bottom: 12px;
    padding: 25px;
  }
  .signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .inner-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .signup-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .signup-text h3 {
    font-size: 27px;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .signup-text h6 {
    font-size: 17px;
    text-align: center;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
  }
  .signup-btn {
    font-size: 20px;
    padding: 3px 10px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
    font-size: 15px;
  }
}

@media screen and (max-width: 426px) {
  .nav {
    padding: 15px;
  }
  .nav img {
    width: 50px;
    margin-right: auto;
  }
  .nav-links {
    font-size: 13px;
    gap: 6px;
  }
  .hero {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .hero-text h1 {
    font-size: 26px;
    margin: 15px;
  }
  .hero-text p {
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .hero-btn {
    font-size: 15px;
    margin: auto;
    padding: 3px 10px;
    border-radius: 20px;
  }
  .hero-img {
    max-width: 250px;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 12px;
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
  }
  #img1 {
    margin-top: 15px;
  }
  .cards-img {
    max-width: 300px;
  }
  .cards p {
    margin-top: 3px;
  }
  .testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    font-size: 13px;
    margin-bottom: 10px;
    padding: 20px;
  }
  .signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .inner-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .signup-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .signup-text h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .signup-text h6 {
    font-size: 12px;
    text-align: center;
    font-weight: 400;
  }
  .signup-btn {
    font-size: 13px;
    padding: 3px 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 15px;
    font-size: 10px;
  }
}
