* {
  margin: 0;
}
.nav {
  display: flex;
  align-items: center;
  background-color: dimgray;
  padding: 20px;
  justify-content: center;
}
.nav img {
  width: 50px;
}

.nav-links {
  margin-left: auto;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  background-color: blanchedalmond;
}
.hero-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}
.hero-img {
  flex-grow: 1;
  height: auto;
  max-width: 400px;
}
.hero-btn {
  padding: 10px 20px;
  border-radius: 10px;
  border: 0;
  background-color: darkcyan;
  width: 120px;
}
